# ...................................................بسم الله الرحمن الرحيم..................................................

__In This Projet I am Scraping a Website and Storing the Collected Data in a Database that is Created for the First Time.__

 __The Targeted Website:__ noon online store - Egypt.

__The Objective:__ Scraping 11 Pages that Include All their Availabul Mobile Phones.

# Tasks:

#### [1-Web Scraping.](#1 "introduction")
<a id='5'></a>

#### [2-Data Cleaning.](#2 "special for the received data")
<a id='6'></a>

#### [3-Creating and Storing in a Database.](#3 "it is simple, because the data it self is simple")
<a id='7'></a>

#### [4-Exporting The Data to csv Format.](#4 "introduction")
<a id='8'></a>

<a id='1'></a>
## [1- Web Scraping:](#5)

Due to the Straight Forward Nature of the Task, I am only Going to Use BeautifulSoup and requests as the libraries for connecting and parsing and not Going to Use Other libraries Such as selenium.

__Importing Libraries:__

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
from time import sleep
from random import randint

__Scraping The Actual Data:__

In [2]:
#declaring the list of empty variables, So that we can append the data overall

description = []
currency = []
price = []
oldPrice = []
discount = []
shepper = []
rating = []
topSeller = []

#creating an array of values and passing it in the url for dynamic webpages
pages = np.arange(1,11)

#according to the HTML page you scrape and the data you want to collect you should write your exact conditions,
#but it should be similar to following
#the whole core of the script
for page in pages:
    page = requests.get("https://www.noon.com/egypt-ar/eg-all-mobiles/?f%5Bis_fbn%5D="+str(page)+"&limit=50&sort%5Bby%5D=popularity&sort%5Bdir%5D=desc")
    soup = BeautifulSoup(page.text, 'html.parser')
    mPhone_data = soup.findAll('span', attrs = {'class': 'sc-5e739f1b-0 gEERDr wrapper productContainer'})
    sleep(randint(2,8))
    for phone in mPhone_data:
        phone_description = phone.a.div.div.find('div', class_ = 'sc-f8165ac8-15 bkbUJe').div.text
        description.append(phone_description)
        
        
        phone_currency = phone.a.div.div.find('div', class_ = 'sc-f8165ac8-15 bkbUJe').find('div', class_ = 'sc-f8165ac8-18 kOXsff').div.div.span.text
        currency.append(phone_currency)
        
        
        phone_price = phone.a.div.div.find('div', class_ = 'sc-f8165ac8-15 bkbUJe').find('div', class_ = 'sc-f8165ac8-18 kOXsff').div.div.strong.text
        price.append(phone_price)
        
        
        try :
            phone.a.div.div.find('div', class_ = 'sc-f8165ac8-15 bkbUJe').find('div', class_ = 'sc-f8165ac8-18 kOXsff').div.find('div', class_ = 'sc-ac248257-2 fbaLpY').find('span', class_ = 'oldPrice').text
            phone_oldPrice = phone.a.div.div.find('div', class_ = 'sc-f8165ac8-15 bkbUJe').find('div', class_ = 'sc-f8165ac8-18 kOXsff').div.find('div', class_ = 'sc-ac248257-2 fbaLpY').find('span', class_ = 'oldPrice').text
        except:
            phone_oldPrice = '0'
            
        oldPrice.append(phone_oldPrice)
        
        
        try :
            phone.a.div.div.find('div', class_ = 'sc-f8165ac8-15 bkbUJe').find('div', class_ = 'sc-f8165ac8-18 kOXsff').div.find('div', class_ = 'sc-ac248257-2 fbaLpY').find('span', class_ = 'discount').text
            phone_discount = phone.a.div.div.find('div', class_ = 'sc-f8165ac8-15 bkbUJe').find('div', class_ = 'sc-f8165ac8-18 kOXsff').div.find('div', class_ = 'sc-ac248257-2 fbaLpY').find('span', class_ = 'discount').text
        except:
            phone_discount = '0'
        
        discount.append(phone_discount)
        
        
        phone_shepper = phone.a.div.div.find('div', class_ = 'sc-f8165ac8-15 bkbUJe').find('div', class_ = 'sc-f8165ac8-19 bOilcU').div.find('div', class_ = 'sc-b823bcb8-0 jYIGEK').img.attrs['alt']
        shepper.append(phone_shepper)
        
        
        try :
            phone.a.div.div.find('div', class_ = 'sc-f8165ac8-15 bkbUJe').find('div', class_ = 'sc-f8165ac8-19 bOilcU').div.find('div', class_ = 'sc-f8165ac8-21 kkkcRi').div.find('span', class_ = 'ratingValue').text
            phone_rating = phone.a.div.div.find('div', class_ = 'sc-f8165ac8-15 bkbUJe').find('div', class_ = 'sc-f8165ac8-19 bOilcU').div.find('div', class_ = 'sc-f8165ac8-21 kkkcRi').div.find('span', class_ = 'ratingValue').text
        except:
            phone_rating = None
        rating.append(phone_rating)

        
        if len(phone.a.div.div.find('div', class_ = 'sc-f8165ac8-1 kqfCOw').find('div', class_ = 'sc-f8165ac8-2 iyYXPE').find('div', class_ = 'sc-f8165ac8-3 illpwe').text) > 0:
                 phone_topSeller = "yes"
        else:
            phone_topSeller = "no"
            
        topSeller.append(phone_topSeller)

__Showing Some of About The scraped Data:__

In [3]:
print('First Elemint in the List: ' + str(description[0][0:17]))
print('Number of Elemints in The List: ' + str(len(description)))
print('=====================')
print('First Elemint in the List: ' + str(currency[0]))
print('Number of Elemints in The List: ' + str(len(currency)))
print('=====================')
print('First Elemint in the List: ' + str(price[0]))
print('Number of Elemints in The List: ' + str(len(price)))
print('=====================')
print('First Elemint in the List: ' + str(oldPrice[0]))
print('Number of Elemints in The List: ' + str(len(oldPrice)))
print('=====================')
print('First Elemint in the List: ' + str(discount[0]))
print('Number of Elemints in The List: ' + str(len(discount)))
print('=====================')
print('First Elemint in the List: ' + str(shepper[0]))
print('Number of Elemints in The List: ' + str(len(shepper)))
print('=====================')
print('First Elemint in the List: ' + str(rating[0]))
print('Number of Elemints in The List: ' + str(len(rating)))
print('=====================')
print('First Elemint in the List: ' + str(topSeller[0]))
print('Number of Elemints in The List: ' + str(len(topSeller)))
print('=====================')

First Elemint in the List: ريل مي C11 (2021)
Number of Elemints in The List: 500
=====================
First Elemint in the List: جنيه
Number of Elemints in The List: 500
=====================
First Elemint in the List: 2914.00
Number of Elemints in The List: 500
=====================
First Elemint in the List: جنيه 4400
Number of Elemints in The List: 500
=====================
First Elemint in the List: خصم 33٪
Number of Elemints in The List: 500
=====================
First Elemint in the List: noon-express
Number of Elemints in The List: 500
=====================
First Elemint in the List: 4.5
Number of Elemints in The List: 500
=====================
First Elemint in the List: yes
Number of Elemints in The List: 500
=====================

__Presenting The Data in a Dataframe:__

In [4]:
noon_phones = pd.DataFrame({'price':price, 'currency':currency, 'oldPrice':oldPrice, 'discountIn%':discount, 'shepper':shepper, 'rating':rating, 'topSeller':topSeller, 'description':description})

In [5]:
noon_phones.head()

,price,currency,oldPrice,discountIn%,shepper,rating,topSeller,description
0,2914.00,جنيه,جنيه 4400,خصم 33٪,noon-express,4.5,yes,ريل مي C11 (2021) Dual SIM Cool Blue 2GB RAM 3...
1,2999.00,جنيه,جنيه 3199,خصم 6٪,noon-express,4.6,yes,سامسونج Galaxy A03 Core Dual SIM Onyx Black 2G...
2,3020.00,جنيه,جنيه 3444,خصم 12٪,noon-express,4.6,yes,شاومي هاتف ريدمي 9A ثنائي الشريحة بذاكرة داخلي...
3,3010.00,جنيه,جنيه 3444,خصم 12٪,noon-express,4.5,yes,شاومي هاتف ريدمي 9A ثنائي الشريحة بذاكرة رام س...
4,3090.00,جنيه,0,0,noon-express,4.5,no,سامسونج Galaxy A03 Core Dual SIM Bronze 2GB RA...

<a id='2'></a>
[__Cleaning The Data:__](#6)

In [6]:
noon_phones

,price,currency,oldPrice,discountIn%,shepper,rating,topSeller,description
0,2914.00,جنيه,جنيه 4400,خصم 33٪,noon-express,4.5,yes,ريل مي C11 (2021) Dual SIM Cool Blue 2GB RAM 3...
1,2999.00,جنيه,جنيه 3199,خصم 6٪,noon-express,4.6,yes,سامسونج Galaxy A03 Core Dual SIM Onyx Black 2G...
2,3020.00,جنيه,جنيه 3444,خصم 12٪,noon-express,4.6,yes,شاومي هاتف ريدمي 9A ثنائي الشريحة بذاكرة داخلي...
3,3010.00,جنيه,جنيه 3444,خصم 12٪,noon-express,4.5,yes,شاومي هاتف ريدمي 9A ثنائي الشريحة بذاكرة رام س...
4,3090.00,جنيه,0,0,noon-express,4.5,no,سامسونج Galaxy A03 Core Dual SIM Bronze 2GB RA...
...,...,...,...,...,...,...,...,...
495,18700.00,جنيه,جنيه 19550,0,noon-express,4.3,no,سامسونج هاتف جالاكسي Z فليب 3 بشريحة واحدة وذا...
496,6666.00,جنيه,جنيه 8050,خصم 17٪,noon-express,4.2,no,شاومي هاتف ريدمي نوت 11 ثنائي الشريحة بذاكرة ر...
497,17100.00,جنيه,جنيه 18379,خصم 6٪,noon-express,None,no,أبل آيفون Xs ماكس مع فيس تايم سعة 512 جيجاباي...
498,5399.00,جنيه,0,0,noon-express,4.7,no,أوبو A54 Dual SIM Starry Blue 4GB RAM 128GB 4G...
499,5599.00,جنيه,0,0,noon-express,4.6,no,شاومي Redmi 10 2022 Dual SIM Carbon Gray 4GB R...

Exploring The Data: Descriptive Statistics.

In [7]:
noon_phones.describe()

,price,currency,oldPrice,discountIn%,shepper,rating,topSeller,description
count,500,500,500,500,500,430,500,500
unique,48,1,18,12,1,9,2,50
top,3939.00,جنيه,0,0,noon-express,4.5,no,أوبو Reno 7 Black Dual Sim 8GB RAM 256GB 4G LTE …
freq,20,500,310,350,500,80,310,10

In [8]:
noon_phones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price        500 non-null    object
 1   currency     500 non-null    object
 2   oldPrice     500 non-null    object
 3   discountIn%  500 non-null    object
 4   shepper      500 non-null    object
 5   rating       430 non-null    object
 6   topSeller    500 non-null    object
 7   description  500 non-null    object
dtypes: object(8)
memory usage: 31.4+ KB

Cheacking Columns Content:

In [9]:
noon_phones['currency'].value_counts()

جنيه     500
Name: currency, dtype: int64

In [10]:
noon_phones['shepper'].value_counts()

noon-express    500
Name: shepper, dtype: int64

In [11]:
noon_phones['topSeller'].value_counts()

no     310
yes    190
Name: topSeller, dtype: int64

Spicial Changes:

In [12]:
m = []
for i in noon_phones['description']:
    x = i.split()[0:2]
    if x[1] == 'مي':
        x = ' '.join(x)
    else:
        x = x[0]
    m.append(x)
    
m = pd.Series(m).astype('category')
noon_phones.insert(loc=0, column='brand', value=m)

In [13]:
noon_phones['currency'] = noon_phones['currency'].astype('category')

In [14]:
noon_phones['price'] = noon_phones['price'].astype('float64')

In [15]:
import re
x = noon_phones['oldPrice'].astype('string').str.findall('[0-9]+')
m = []
[m.append(i[0]) for i in x]
noon_phones['oldPrice'] = m 
noon_phones['oldPrice'] = noon_phones['oldPrice'].astype('int64')

In [16]:
x = noon_phones['discountIn%'].astype('string').str.findall('[0-9]+')
m = []
[m.append(i[0]) for i in x]
noon_phones['discountIn%'] = m 
noon_phones['discountIn%'] = noon_phones['discountIn%'].astype('int64')

In [17]:
noon_phones['shepper'] = noon_phones['shepper'].astype('category')

In [18]:
noon_phones['rating'] = noon_phones['rating'].astype('float64')

In [19]:
noon_phones['topSeller'] = noon_phones['topSeller'].astype('category')

__Data After Cleaning:__

In [20]:
noon_phones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   brand        500 non-null    category
 1   price        500 non-null    float64
 2   currency     500 non-null    category
 3   oldPrice     500 non-null    int64
 4   discountIn%  500 non-null    int64
 5   shepper      500 non-null    category
 6   rating       430 non-null    float64
 7   topSeller    500 non-null    category
 8   description  500 non-null    object
dtypes: category(4), float64(2), int64(2), object(1)
memory usage: 22.3+ KB

In [21]:
noon_phones

,brand,price,currency,oldPrice,discountIn%,shepper,rating,topSeller,description
0,ريل مي,2914.0,جنيه,4400,33,noon-express,4.5,yes,ريل مي C11 (2021) Dual SIM Cool Blue 2GB RAM 3...
1,سامسونج,2999.0,جنيه,3199,6,noon-express,4.6,yes,سامسونج Galaxy A03 Core Dual SIM Onyx Black 2G...
2,شاومي,3020.0,جنيه,3444,12,noon-express,4.6,yes,شاومي هاتف ريدمي 9A ثنائي الشريحة بذاكرة داخلي...
3,شاومي,3010.0,جنيه,3444,12,noon-express,4.5,yes,شاومي هاتف ريدمي 9A ثنائي الشريحة بذاكرة رام س...
4,سامسونج,3090.0,جنيه,0,0,noon-express,4.5,no,سامسونج Galaxy A03 Core Dual SIM Bronze 2GB RA...
...,...,...,...,...,...,...,...,...,...
495,سامسونج,18700.0,جنيه,19550,0,noon-express,4.3,no,سامسونج هاتف جالاكسي Z فليب 3 بشريحة واحدة وذا...
496,شاومي,6666.0,جنيه,8050,17,noon-express,4.2,no,شاومي هاتف ريدمي نوت 11 ثنائي الشريحة بذاكرة ر...
497,أبل,17100.0,جنيه,18379,6,noon-express,NaN,no,أبل آيفون Xs ماكس مع فيس تايم سعة 512 جيجاباي...
498,أوبو,5399.0,جنيه,0,0,noon-express,4.7,no,أوبو A54 Dual SIM Starry Blue 4GB RAM 128GB 4G...
499,شاومي,5599.0,جنيه,0,0,noon-express,4.6,no,شاومي Redmi 10 2022 Dual SIM Carbon Gray 4GB R...

<a id='3'></a>
## [2- Creating a Database and Storing The Data in It:](#7)

__Importing Libraries:__

In [22]:
import sqlite3

__Creating The Database:__

In [23]:
#making connect to the database, implecetly initilaizs one if there wasn't
conn = sqlite3.connect('noon_mobile_data.sqlite')
#Initializing The cursor
cur = conn.cursor()

#making the table
cur.execute('''DROP TABLE IF EXISTS Phones ''')

cur.execute('''CREATE TABLE IF NOT EXISTS Phones (id INTEGER PRIMARY KEY, brand TEXT, price FLOAT,currency TEXT, oldPrice INTEGER, discount INTEGER, shepper TEXT , rating FLOAT, topSeller TEXT, description TEXT)''')

__Storing The Data Into The Phones Table:__

In [24]:
#calling the int() function was because the data byte int64 is not suitable for the .execute() parameters
for n in range(0, 500, 1):
    cur.execute('INSERT INTO Phones (id, brand, price, currency, oldPrice, discount, shepper, rating, topSeller, description) VALUES ( ?,?,?,?,?,?,?,?,?,? )', (n+1, noon_phones['brand'][n], noon_phones['price'][n], noon_phones['currency'][n], int(noon_phones['oldPrice'][n]), int(noon_phones['discountIn%'][n]), noon_phones['shepper'][n], noon_phones['rating'][n], noon_phones['topSeller'][n], noon_phones['description'][n]))
    
conn.commit()

[__Exporting The Data to csv Format:__](#8)
<a id='4'></a>

In [25]:
#beaware that the "category" data is going to be stored as string so the file size will be greater than the dataframe size
noon_phones.to_csv('noon_mobile_data.csv')

# ..........................................................تم بحمد الله.........................................................